<form
    class="form-inline"
    #pdfForm="ngForm"
    (ngSubmit)="openPdf(pdfForm)"
>
    <div class="form-group mx-sm-3 mb-2">
        <input
            id="InitialDate"
            name="InitialDate"
            type="Date"
            class="form-control"
            placeholder="Data Inicial"
            ngModel
        >
    </div>
    <p>a</p>
    <div class="form-group mx-sm-3 mb-2">
        <input
            id="FinalDate"
            name="FinalDate"
            type="Date"
            class="form-control"
            placeholder="Data Final"
            ngModel
        >
    </div>

    <button
        class="btn btn-primary mb-2"
        type="submit"
    >
        pdfDownload
    </button>
</form>
