<div class="container">
    <div class="center-text">
        <h2>Lista de Despesas</h2>
        <div class="d-flex">
            <div class="p-2">
                <app-search-bar (searchListEventEmitter)="filter = $event"></app-search-bar>
            </div>
            <div class="ml-auto">
                <app-pdf-generator [fullSearchList]="fullSearchList"></app-pdf-generator>
            </div>
        </div>
        <app-debit-credit-list [filtered]="filter" (fullSearchList)="fullSearchList = $event"></app-debit-credit-list>
        <div class="d-flex justify-content-end">
            <button
                type="button"
                class="btn btn-primary btn-sm"
                (click)="redirectToRegistration()"
            >
                Cadastrar nova despesa
            </button>
        </div>
    </div>
</div>
