<table class="table table-bordered">
    <thead>
        <tr>
            <th
                scope="col"
                class="text-center"
                (click)="sort('place')"
            >
                Estabelecimento
                <span *ngIf="key =='place'">{{reverse ? '▲' : '▼'}}</span>
            </th>
            <th
                scope="col"
                class="text-center"
                (click)="sort('operationType')"
            >
                Tipo de Operação
                <span *ngIf="key =='operationType'">{{reverse ? '▲' : '▼'}}</span>
            </th>
            <th
                scope="col"
                class="text-center"
                (click)="sort('value')"
            >
                Valor
                <span *ngIf="key =='value'">{{reverse ? '▲' : '▼'}}</span>
            </th>
            <th
                scope="col"
                class="text-center"
            >
                Descrição
            </th>
            <th
                scope="col"
                class="text-center"
                (click)="sort('operationDate')"
            >
                Data da Operação
                <span *ngIf="key =='operationDate'">{{reverse ? '▲' : '▼'}}</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="!searchListResult.length">
            <td
                colspan="5"
                class="text-center"
            >
                Não existem despesas cadastradas
            </td>
        </tr>
        <tr *ngFor="let item of searchListResult | expensesFilter: filtered | orderBy: key : reverse | paginate: { itemsPerPage: 10, currentPage: firstPage, totalItems: totalItems } ; let i=index">
            <td class="text-center">{{item.place}}</td>
            <td class="text-center">{{item.operationType}}</td>
            <td class="text-center">{{item.value}}</td>
            <td class="text-center">{{item.description}}</td>
            <td class="text-center">
                {{item.operationDate  | date: 'dd/MM/yyyy'}}
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td colspan="5">
                <pagination-controls
                    (pageChange)="firstPage = $event"
                    previousLabel="Anterior"
                    nextLabel="Próximo"
                    maxSize="10"
                    responsive="true"
                    class="text-center"
                ></pagination-controls>
            </td>
        </tr>
    </tbody>
</table>
